@keyframes slideIn {
  from {
    top: 0;
  }
  to {
    top: 20%;
  }
}
header {
  background: #111;
  color: #eaeaea;
  font-family: "Lato", sans-serif;
  border-bottom: 4px solid #f30067;
  z-index: 100;
}
header .header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-wrap: no-wrap;
  height: 120px;
  box-shadow: 0 4px 0 #00d1cd;
  padding: 20px 0;
}
@media (min-width: 760px) {
  header .header-container {
    padding-top: 40px;
  }
}
@media (min-width: 1000px) {
  header .header-container {
    padding: 0;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
  }
}
header .header-container h1 {
  font-family: 'Satisfy', cursive;
  font-style: italic;
  font-size: 1.6rem;
}
@media (min-width: 760px) {
  header .header-container h1 {
    font-size: 2.2rem;
  }
}
@media (min-width: 1000px) {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
}
nav {
  padding-top: 14px;
  height: 100vh;
  background: #111;
  border-bottom: 2px solid #f30067;
}
@media (min-width: 1000px) {
  nav {
    padding: 0;
    width: 35%;
    height: inherit;
  }
  nav .hamburger {
    display: none;
  }
}
@media (min-width: 760px) {
  nav .hamburger {
    position: absolute;
    right: 50px;
    border-bottom: 2px solid #f30067;
    top: 65px;
  }
}
nav .nav-links {
  padding-top: 150px;
  z-index: 20;
  position: fixed;
  left: -1000px;
  top: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-wrap: no-wrap;
  background: #f30067;
  height: 100vh;
  width: 100%;
  transition: left 0.3s ease-in-out;
}
@media (min-width: 700px) and (orientation: landscape) {
  nav .nav-links {
    padding: 0;
  }
}
@media (min-width: 1000px) {
  nav .nav-links {
    padding: 0;
    z-index: -20;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: no-wrap;
    position: static;
    background: #111;
    color: #eaeaea;
    height: inherit;
    width: initial;
  }
}
nav a {
  text-align: center;
  font-size: 1.8rem;
  margin: 40px 0;
  text-decoration: none;
  color: #eaeaea;
}
@media (min-width: 1000px) {
  nav a {
    margin: 0;
    font-size: 1.2rem;
    padding: 2px;
  }
}
nav .show-nav {
  left: 0;
}
.main-content {
  min-height: 100vh;
  font-family: "Merriweather", serif;
  text-align: center;
  background: #fff;
  color: #444444;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  flex-wrap: no-wrap;
}
@media (min-width: 760px) {
  .main-content {
    padding: 0;
  }
}
.main-content .main-background {
  width: 100%;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  background-size: cover;
}
.main-content .main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #eaeaea;
}
@media (min-width: 1000px) {
  .main-content .main {
    min-height: 90vh;
  }
}
.main-content .main h1 {
  margin: 10px;
  font-size: 1.6rem;
  background: #f30067;
  padding: 5px;
}
@media (min-width: 1000px) {
  .main-content .main h1 {
    font-size: 2.2rem;
  }
}
.main-content .main h1 span {
  color: #00d1cd;
}
.main-content .main .btn-div {
  margin-top: 50px;
  height: 110px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-wrap: no-wrap;
}
@media (min-width: 1000px) {
  .main-content .main .btn-div {
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: no-wrap;
    align-content: center;
  }
}
@media (min-width: 760px) {
  .main-content .main {
    width: 70%;
  }
}
.main-content .description {
  margin: 20px auto;
  font-size: 1.1rem;
  width: 90%;
  padding: 5px;
  border-radius: 5px;
  color: #444444;
}
@media (min-width: 700px) and (orientation: landscape) {
  .main-content .description {
    font-size: 1.6rem;
  }
}
@media (min-width: 760px) {
  .main-content .description {
    font-size: 1.8rem;
  }
}
@media (min-width: 1000px) {
  .main-content .description {
    width: 60%;
    font-size: 1.5rem;
  }
}
.main-content .preview {
  height: 250px;
  width: 90vw;
  background: #000;
  padding: 5 20px;
}
@media (min-width: 760px) {
  .main-content .preview {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .main-content .preview {
    width: 35vw;
    height: 300px;
  }
}
.main-content .how-it-works {
  margin: 20px;
  text-align: left;
}
.main-content .how-it-works p {
  margin: 20px;
  text-align: center;
}
@media (min-width: 760px) {
  .main-content .how-it-works {
    width: 70%;
  }
}
.main-content a {
  box-shadow: 0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-out;
  text-decoration: none;
  padding: 10px 20px;
  background: #fff;
  color: #444444;
  border-radius: 10px;
  font-size: 1.2em;
  border-style: solid;
}
.main-content a:hover {
  box-shadow: 0rem 0.3rem 1rem rgba(0, 0, 0, 0.4);
  transform: translateY(-4px);
}
.main-content a:active {
  box-shadow: 0rem 0.3rem 0.2rem rgba(0, 0, 0, 0.4);
  transform: translateY(0);
}
.main-content a:focus {
  outline: none;
  border-color: #f30067;
}
.main-content .call-to-action {
  padding: 10px 20px;
  background: #f30067;
  color: #eaeaea;
  border-radius: 10px;
  font-size: 1.2em;
  border-style: solid;
}
.main-content .call-to-action:focus {
  outline: none;
}
.main-content #learn h2 {
  text-align: center;
  margin: 40px;
}
.main-content #learn h2::after {
  content: "";
  display: block;
  width: 20%;
  background: #111;
  height: 2px;
  margin: 0 auto;
}
@media (min-width: 1000px) {
  .main-content #learn h2 {
    font-size: 2.5rem;
    margin: 150px;
  }
}
@media (min-width: 760px) {
  .main-content #learn {
    font-size: 1.6rem;
  }
}
@media (min-width: 1000px) {
  .main-content #learn {
    width: 70%;
  }
}
.main-content #learn .left img {
  border: 2px solid #00d1cd;
}
@media (min-width: 1000px) {
  .main-content #learn .left {
    display: flex;
    flex-direction: row-reverse;
  }
  .main-content #learn .left img {
    margin-right: 10px;
  }
  .main-content #learn .left p::before {
    background: #00d1cd;
  }
}
.main-content .learn-part {
  padding: 10px;
}
@media (min-width: 1000px) {
  .main-content .learn-part {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: no-wrap;
    margin: 100px auto;
    font-size: 1.8rem;
  }
  .main-content .learn-part p {
    position: relative;
  }
  .main-content .learn-part p::before {
    content: "";
    display: block;
    position: absolute;
    background: #f30067;
    transform: translateY(-50%);
    top: 50%;
    left: -15px;
    height: 20px;
    width: 20px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
}
.main-content .learn-part img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #f30067;
}
@media (min-width: 760px) {
  .main-content .learn-part img {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1000px) {
  .main-content .learn-part img {
    width: 40%;
    margin: 0;
  }
}
.team-page {
  background: #fff;
  min-height: 90vh;
  font-family: "Merriweather", serif;
}
.team-page .tab-links {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: no-wrap;
  padding: 30px 0;
}
@media (min-width: 1000px) {
  .team-page .tab-links {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
  }
  .team-page .tab-links .tab-link {
    margin: 0 20px;
  }
  .team-page .tab-links .tab-link:hover {
    cursor: pointer;
  }
}
.team-page .team-container {
  margin: 0 auto;
  border-right: 2px solid #f30067;
  border-left: 2px solid #f30067;
  border-top: 2px solid #00d1cd;
  border-bottom: 2px solid #00d1cd;
  box-shadow: 0 0 1rem #000;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 1000px) {
  .team-page .team-container {
    padding-top: 100px;
    width: 70%;
  }
}
.team-page .team-container .team-member {
  width: 45%;
  margin: 20px 0;
  text-align: center;
}
@media (min-width: 1000px) {
  .team-page .team-container .team-member {
    width: 25%;
    height: 280px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: no-wrap;
  }
  .team-page .team-container .team-member:hover {
    cursor: pointer;
  }
}
.team-page .team-container .team-member .team-member-name {
  font-size: 1.25rem;
}
@media (min-width: 1000px) {
  .team-page .team-container .team-member .team-member-name {
    font-size: 1.5rem;
  }
}
.team-page .team-container .team-member .team-member-description {
  display: none;
}
.team-page .team-container .team-member .github {
  display: none;
}
.team-page .team-container .team-member .team-member-role {
  font-size: 0.8rem;
}
@media (min-width: 1000px) {
  .team-page .team-container .team-member .team-member-role {
    font-size: 1.1rem;
  }
}
.team-page .team-container .team-member .team-member-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
@media (min-width: 1000px) {
  .team-page .team-container .team-member .team-member-img {
    width: 180px;
    height: 180px;
  }
}
.team-page .team-member.hide {
  display: none;
}
.info-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 20%;
  width: 95%;
  height: 60%;
  overflow: auto;
  background: #fff;
  transform: translate(-50%);
  box-shadow: 0 10px 15px #000;
}
.info-modal .close:hover {
  cursor: pointer;
}
@media (min-width: 1000px) {
  .info-modal {
    width: 50%;
    height: 60%;
  }
}
.info-modal .modal-header {
  padding: 0;
}
.info-modal .modal-header .close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 3rem;
  color: #eaeaea;
}
.info-modal .header-content {
  padding: 20px;
}
@media (min-width: 1000px) {
  .info-modal .header-content {
    padding: 20px 40px;
  }
}
.info-modal .header-content img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.info-modal .name {
  font-size: 1.75rem;
}
@media (min-width: 1000px) {
  .info-modal .name {
    font-size: 2rem;
  }
}
.info-modal .role {
  font-size: 1.25rem;
}
.info-modal .info {
  padding: 10px;
}
@media (min-width: 1000px) {
  .info-modal .info {
    padding: 30px;
    font-size: 1.6rem;
  }
}
.info-modal a {
  color: #eaeaea;
}
.show {
  display: block;
  animation: slideIn 0.3s ease-out;
}
footer {
  background: #111;
  text-align: center;
  height: 80px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  color: #eaeaea;
  justify-content: space-around;
  border-top: 4px solid #f30067;
}
footer a {
  text-decoration: none;
  color: #eaeaea;
  padding: 2px;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
