footer {
    background: @background-tertiary-color;
    text-align: center;
    height: 80px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    color: @font-main-color;
    justify-content: space-around;
    border-top: 4px solid @background-secondary-color;
    a {
        text-decoration: none;
        color: @font-main-color;
        padding: 2px;
    }
}