
@import 'variables';
@import 'mixins';
@import 'header';
@import 'hamburger';
@import 'main';
@import 'team';
@import 'modal';
@import 'footer';

html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}