.main-content{
    padding: 12px;
    min-height: 90vh;
    font-family: @font-family;
    text-align: center;
    background: @background-tertiary-color;
    color: @font-main-color;
    letter-spacing: 2px;
    .flexy(column, space-around);
    .description {
        margin: 10px 0 20px;
    }
    .preview {
        min-height: 40vh;
        min-width: 90vw;
        background: #000;
        padding: 5=20px;
        border: 2px solid @background-secondary-color;

    }
    .how-it-works {
        margin: 20px;
        text-align: left;
        ul {
            
        }
    }
    .call-to-action {
        .btn();
        margin: 0 auto;
        &:focus{
            outline: none;
            border-color: @background-tertiary-color;
        }
    }
}