.flexy(@dir: row, @justify: space-between){
    display: flex;
    justify-content: @justify;
    flex-direction: @dir;
    align-items: center;
}
.btn (@padding: 10px 20px, @background: @gradient-orange){
    padding: @padding;
    transition: border .2s ease-in-out;
    background: @background;
    color: @font-secondary-color;
    border-radius: 10px;
    font-size: 1.2em;
    border-style: solid;
}