.team-page {
  background: @gradient-white;
  min-height: 90vh;
  font-family: @font-family;
  .team-container{
    margin: 0 auto;
    .flexy(row, center, wrap);
    .team-member{
      width: 45%;
      margin: 20px 0;
      text-align: center;
      .team-member-name{
        font-size: 1.25rem;
      }
      .team-member-description{
        display: none;
      }
      .team-member-role {
        font-size: .8rem;
      }

      .team-member-img {
        margin-top: 5px;
        width: 120px;
        height: 120px;
        border-radius: 50%;
      }

    }

  }


}
