// Main Colors
@background-main-color: #00d1cd;
@background-secondary-color: #f30067;
@background-tertiary-color: #111;

@background-white: #fff;

@background-main-gradient: linear-gradient(to right, #74ebd5, #acb6e5);
@gradient-orange: linear-gradient(to right, #ffc837, #ff8008);
@gradient-white: linear-gradient(to top, #ffffff, #ffefba);
@gradient-white-reverse: linear-gradient(to bottom, #ffffff, #ffefba);

//Button
@btn-color: #f30067;
//Font
@font-main-color: #eaeaea;
@font-secondary-color: #444444;
@font-family: "Merriweather", serif;
@font-header: "Lato", sans-serif;
@font-name: 'Satisfy', cursive;

@font-size-sm: 1.2rem;
@font-size-md: 1.6rem;
@font-size-lg: 1.8rem;
@font-size-xlrg: 2.2rem;

//Landscape
@landscape: ~"(min-width: 700px) and (orientation: landscape)";
//Tablet
@tablet: ~"(min-width: 760px)";

//Desktop
@desktop: ~"(min-width: 1000px)";

//Animations
@keyframes slideIn{
    from{
        top: 0;
    }
    to {
        top: 20%
    }
}