
// Main Colors
@background-main-color: #00d1cd;
@background-secondary-color: #f30067;
@background-tertiary-color: #111;

@background-white: #fff;

@background-main-gradient: linear-gradient(to right, #2a5298, #1e3c72);
@gradient-orange: linear-gradient(to right, #FFC837, #FF8008);
@gradient-white: linear-gradient(to top, #FFFFFF, #FFEFBA);
@gradient-white-reverse: linear-gradient(to bottom, #FFFFFF, #FFEFBA); 

//Button 
@btn-color: #f30067;
//Font
@font-main-color: #eaeaea;
@font-secondary-color: #444444;
@font-family:'Raleway', sans-serif;

@font-size-sm: 1.2rem;


//Tablet
@tablet: ~"(min-width: 760px)";

//Desktop
@desktop: ~"(min-width: 1000px)";